<div class="row main">
    <div class="col-md-12">
        <h3 class="text-format reporte"></h3>
    </div>
    <div class="col-md-2 col-md-offset-5 start">
        <br/>
        <a class="btn btn-danger btn-play">Comenzar a Jugar <span class="glyphicon glyphicon-play"></span></a>
    </div>
    
    <div class="col-md-12 col-md-offset-1 message-winner">
        <br />
        <a class="btn btn-danger btn-ok col-md-2 col-md-offset-4">Aceptar <span class="glyphicon glyphicon-ok"></span></a>
        <h1 class="text-format message-label col-md-10">
            <h1 />
            <h1 class="text-format message-player col-md-5"><h1 />
            <h1 class="text-format message-dealer col-md-5"><h1 />
    </div>

    <div class="col-md-4 col-md-offset-4 loading">
        <img src="/images/loading.gif" />
        <h1 style="color: black; text-align:center;"> Cargando Partida...</h1>
    </div>
</div>

<div class="row deck">
    <a class="btn-deck">
        <div class="col-md-2 deck col-md-offset-5 deck-div">
            <img class="image-card image-deck" src="/images/deck.png" />
        </div>
    </a>
</div>
<br />
<div class="row">
    <div class="col-md-6 player-title">
        <a class="btn btn-danger btn-deal col-md-6">Perdir Carta</a>
        <p class="text-format player-points col-md-6" style="font-size: 20px;"><p />
    </div>
    <div class="col-md-6 dealer-title">
        <a class="btn btn-danger btn-next col-md-6">Pasar Turno</a>
        <p class="text-format dealer-points col-md-6" style="font-size: 20px;"><p />
    </div>  
</div>
<div class="row">
    <div class="col-md-6 player">
    </div>

    <div class="col-md-6 dealer">
    </div>
</div>
